<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AzowoAPI</key>
	<string>https://api.dev.azowo.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Kanit-Medium.ttf</string>
		<string>Kanit-Regular.ttf</string>
		<string>Kanit-Bold.ttf</string>
	</array>
</dict>
</plist>
